<body class="custom-background">
    <div class="container text-center">
        <div class="row my-4">
            <div class="col">
                <p class="airplus">AIR PLUS </p>
                <p class="airplus">CUSTOMER PAGE </p>
            </div>
        </div>
       <span>
  <%= link_to "Enter data", new_training_datum_path, class: "btn btn-primary" %>
</span>

        
        <div class="test">
            
            
           
            
        </div>
    </div>
</body>






